body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVIGATION BAR */
.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(44, 55, 78);
  color: white;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.menu-btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 30px;
  color: white;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn:hover {
  cursor: pointer;
}

.navbar-ul {
  display: inline-flex;
  list-style: none;
  float: right;
  margin-right: 100px;
  margin-top: 13px;
}

a {
  text-decoration: none;
}

.inactive {
  color: white;
}

.inactive:hover {
  color: rgb(158, 158, 158);
}

.active {
  border-bottom: 1px solid white;
  padding: 6px 0;
}

.navbar-li {
  padding: 17px 25px;
  font-size: 17px;
  font-weight: 500;
}

.navbar-li:hover {
  cursor: pointer;
  color: rgb(53, 53, 53);
}

.fa-home,
.fa-shopping-cart,
.fa-sign-in,
.fa-user {
  color: white;
  margin-right: 8px;
  font-size: 20px;
}

/* SIDEBAR */
.sidebar {
  background-color: rgb(28, 31, 30);
  height: 200vh;
  padding-left: 20px;
  width: 330px;
  position: fixed;
  z-index: 200;
  top: 80px;
  transition: 0.4s ease-out;
}

.side-nav {
  color: white;
}

.side-nav:hover {
  color: rgb(68, 145, 141);
}

.sidebar-ul {
  display: inline;
  list-style: none;
}

.sidebar-li {
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 14px 0;
  transition: transform 0.2s;
}

.sidebar-li:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.sidebar-nav {
  margin: 40px 0;
}

/* ROOMS */
.page {
  margin-top: 58px;
}

.products {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  margin: 5% 10%;
}

.card {
  width: 200px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 3px;
  text-align: center;
  cursor: pointer;
}

.item-img {
  width: 200px;
  height: 200px;
}

.page-title {
  text-align: center;
  font-size: 41px;
  padding: 35px 0 0 0;
  font-family: "Poiret One", cursive;
}

/* PRODUCT DETAILS */
.top-div {
  margin: 0 21%;
  padding: 50px 0;
  font-family: "Poppins", sans-serif;
}

.div-img {
  width: auto;
  height: auto;
  float: left;
}

.product-img {
  width: 260px;
}

.div-cart {
  width: auto;
  height: auto;
  float: right;
  width: 320px;
}

.div-about {
  clear: both;
  width: inherit;
  height: auto;
  position: static;
  padding: 15px 263px 30px 263px;
}

.details-add-btn {
  border: none;
  padding: 12px 18px;
  background-color: rgb(240, 109, 22);
  color: white;
  font-size: 14px;
}

.details-add-btn:hover {
  background-color: green;
  cursor: pointer;
}

.details-add-btn:focus {
  outline: none;
}

.fa-trash {
  margin-right: 10px;
}

.details-name {
  font-size: 21px;
  font-weight: 600px;
}

.details-amount {
  font-size: 17px;
}

.details-id {
  font-size: 14px;
}

.input-cart {
  width: 146px;
  border: 1px solid rgb(204, 204, 204);
}

.about-name {
  font-size: 19px;
}

.about-text {
  font-size: 14px;
  text-align: justify;
}

.details-delete-btn {
  border: none;
  padding: 12px 18px;
  background-color: rgb(233, 32, 32);
  color: white;
  font-size: 14px;
  margin-top: 13px;
  border-radius: 6px;
}

.details-delete-btn:hover {
  background-color: rgb(196, 0, 0);
  cursor: pointer;
}

.details-delete-btn:focus {
  outline: none;
}

.fa-cart-plus {
  margin-right: 10px;
}

/* SHOPPING CART */
.cart {
  font-family: "Quattrocento Sans", sans-serif;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-div {
  float: right;
  width: 400px;
}

.shop-cart {
  border-bottom: 0.5px solid rgb(90, 90, 90);
}

.cart-img {
  width: 160px;
}

.item-name {
  font-weight: 600;
}

.item-amount {
  font-size: 14px;
  color: rgb(51, 51, 51);
}

.cart-btn-delete {
  border: none;
  background-color: rgb(247, 54, 54);
  color: white;
  padding: 4px 9px;
  border-radius: 20px;
  float: right;
  margin: -20px 0;
  margin-right: 12px;
}

.cart-btn-delete:hover {
  cursor: pointer;
  background-color: rgb(177, 33, 33);
}

.cart-btn-delete:focus {
  outline: none;
}

.cart-subtotal {
  font-weight: 600;
}

.cart-btn-pay {
  border: none;
  background-color: rgb(3, 146, 3);
  color: white;
  padding: 8px 30px;
  border-radius: 9px;
  float: right;
  margin-top: -43px;
}

.cart-btn-pay:hover {
  cursor: pointer;
  background-color: rgb(11, 102, 11);
}

.cart-btn-pay:focus {
  outline: none;
}

.fa-shop {
  color: white;
  margin-right: 13px;
  font-size: 16px;
}

.cart-total-div {
  border: 0.5px solid white;
  margin: 15px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.empty-title {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 28px;
  padding-top: 20px;
}

/* SIGN UP FORM */
.about,
.login-inner {
  width: 390px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: rgba(90, 90, 90, 0.144);
}

.btn-next,
.btn-back {
  width: 90px;
  padding: 8px 0;
  border: none;
  background-color: rgb(3, 161, 3);
  color: white;
  font-size: 15px;
  border-radius: 15px;
  margin: 27px 0;
}

.btn-next:hover,
.btn-back:hover {
  cursor: pointer;
  background-color: rgb(4, 201, 4);
}

.btn-next:focus,
.btn-back:hover {
  outline: none;
}

.btn-back {
  margin-right: 28px;
}

.about-input {
  margin: 14px 0;
  width: 270px;
}

.user-title,
.login-title {
  font-size: 37px;
  font-family: "Poiret One", cursive;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: -30px;
  padding-top: 40px;
}

.confirm-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.confirm-text {
  font-weight: 100;
  margin: 16px 0;
}

.password {
  margin-left: 40px;
}

.eye-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin: 0;
  float: right;
  margin-top: -45px;
  margin-right: 10px;
}

.eye-btn:focus {
  outline: none;
}

.eye-btn:hover{
  cursor: pointer;
}

.btn {
  margin-top: 20px;
}

.valid {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  font-style: italic;
}

input {
  padding: 10px;
  width: 240px;
  margin: 10px 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  border-bottom: 1px rgb(126, 126, 126) solid;
}

.created-title {
  font-size: 30px;
  text-align: center;
  font-family: "Poiret One", cursive;
  margin-top: 130px;
}

.created-desc {
  font-size: 25px;
  text-align: center;
  font-family: "Poiret One", cursive;
}

/* LOGIN */

.login-outter {
  margin: 8% 0 4% 0;
}

input {
  padding: 10px;
  width: 240px;
  margin: 10px 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  border-bottom: 1px rgb(126, 126, 126) solid;
}

.login-btn {
  border: none;
  font-size: 16px;
  padding: 10px 115px;
  background-color: rgb(3, 161, 3);
  color: white;
  margin: 20px 0 30px 0;
}

.login-btn:hover {
  background-color: rgb(13, 151, 13);
  cursor: pointer;
}

.login-btn:focus {
  outline: none;
}

.valid {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  font-style: italic;
}
